<h1>Create new Employee</h1>

<% if flash[:employee_errors] %>
  <% flash[:employee_errors].each do |error| %>
    <p style='color: red;'><%= error %></p>
  <% end %>
<% end %>

<%= form_for @employee do |f| %>
  <%= f.label 'First Name:' %><br>
  <%= f.text_field :first_name %><br>

  <%= f.label 'Last Name:' %><br>
  <%= f.text_field :last_name %><br>

  <%= f.label 'Alias:' %><br>
  <%= f.text_field :alias %><br>

  <%= f.label 'Title:' %><br>
  <%= f.text_field :office %><br>

  <%= f.label 'Img Url:' %><br>
  <%= f.text_field :img_url %><br>

  <%= f.label 'Dog:' %><br>
  <%= collection_select(:employee, :dog_id, @dogs, :id, :name) %>

  <%= f.submit "Submit Employee" %>
<% end %>

